@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.text {font-family: 'Nanum Gothic', sans-serif;}

/*Center Align Class START*/
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
.index-row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
.centering {
  float:none;
  margin:0 auto;
}
html, body{height:100%; margin:0;padding:0}
/*Center Align Class END*/

body {background-color : #ffffff;}	
.kakaologin{background-image: url("../img/kakaologin.png"); width: 285px; height: 46.5px; margin: auto; background-size: contain;} 
.menudiv{width: 100%; display: table;} .menudiv > div{height: 100%; display: table-cell; float: none;}

.imgdiv{padding-top: 10px; margin-top: 10px;}
.imgdiv .col-md-4 {margin-top: 5px;}
.imgdiv .thumbnail{max-width: 300px; margin: auto;}
.imgdiv .caption{padding: 3px;}
.imgdiv .thtitle{margin-bottom: 2px; font-weight: bold; font-size: 1.3em;}
.imgdiv .thdetail{margin-bottom: 5px;}