@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.text {font-family: 'Nanum Gothic', sans-serif;}

/*Center Align Class START*/
.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
.index-row-fluid {height: 100%; display:table-cell; vertical-align: middle;}
.centering {
  float:none;
  margin:0 auto;
}
html, body{height:100%; margin:0;padding:0}
/*Center Align Class END*/

body {background-color : #ffffff;}	
.kakaologin{background-image: url("../img/kakaologin.png"); width: 285px; height: 46.5px; margin: auto; background-size: contain;} 
.menudiv{width: 100%; display: table;} .menudiv > div{height: 100%; display: table-cell; float: none;}
#selclass{width: 100%; height: 30px; padding-top: 2px;}
#abusewarn{font-weight: bold; color: red; margin-bottom: 0; margin-top: 5px;}
.imgdiv{padding-top: 10px; margin-top: 10px;}
.imgdiv .col-md-4 {margin-top: 5px;}
.imgdiv .thumbnail{max-width: 300px; margin: auto;}
.imgdiv .caption{padding: 3px;}
.imgdiv .thtitle{margin-bottom: 2px; font-weight: bold; font-size: 1.3em;}
.imgdiv .thdetail{margin-bottom: 5px;}

.loadPopup{display: inline-block; position: fixed; top: calc(50% - 20px); left: calc(50% - 90px); width: 180px; height: 40px; background-color: white; border: gray 1px solid; border-radius: 10%; padding-top: 7px;}
.loadPopup p{text-align: center; font-weight: bold; font-size: 1.2em;}

.viewPopup{display: inline-block; position: fixed; top: 5%; left: 5%; width: 90%; height: 90%; background-color: white; border: gray 1px solid; border-radius: 10px; padding: 15px 0px;}
.viewPopup #vprow{height: 100%; width: 100%; box-sizing: border-box; margin: 0px;}
.viewPopup #vpimgcover{height: 100%;}
.viewPopup #vpimg{margin: 0;}
.viewPopup #vpimginfo{width: 100%;}
.viewPopup .title{font-size: 1.7em; font-weight: bold;}
.viewPopup .desc{display: none;}
.viewPopup .exit{font-size: 1.5em; font-weight: bold; color: red; margin-left: 10px; margin-bottom: 0;}
.vpother_vert{display: block; width: 100%;}
.vpother_horz{display: inline-block; width: 25%;}